# AWS General
NUXT_PUBLIC_AWS_REGION=us-east-1

# Cognito
NUXT_PUBLIC_COGNITO_USER_POOL_ID=
NUXT_PUBLIC_COGNITO_CLIENT_ID=
NUXT_PUBLIC_COGNITO_IDENTITY_POOL_ID=

# AppSync
NUXT_PUBLIC_APPSYNC_ENDPOINT=
NUXT_APPSYNC_API_KEY=

# S3
NUXT_PUBLIC_S3_BUCKET_UPLOADS=
NUXT_PUBLIC_S3_BUCKET_ASSETS=

# Server-only
NUXT_AWS_SECRET_ACCESS_KEY=

# DynamoDB
NUXT_TABLE_PREFIX=gc-dev
